@font-face{
    font-family:'Bangers';
    src:url('Bangers-Regular.ttf')
}

#navigation{
    width: 200px;
    list-style:none;
    margin:0;
    padding:0;

}
#navigation li{
    background-color: slategrey;
    color:#fff;
    
}
#navigation li a {
    display:block;
    background: rgb(0, 50, 90);
    color: white;
    font: 1em "Bangers";
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    padding:4px 0;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active{
    background: chocolate;
    text-decoration: underline;
    transition-duration: .3s;
}

#navigationh{
    margin:0 2;
    padding:0;
    list-style:none;
    text-align: left;
}
#navigationh li {
    display: inline;
    margin-right: 1px;
   
    background: rgb(0, 50, 90);
    
}
#navigationh li a {
    padding: 4px 20px;
    background: rgb(0, 50, 90);
    font: 1em "Bangers";
    line-height: 1em ;
    text-align: center ;
    text-decoration: none ; 
    color : white;
    color:white;
   
   
}
#navigationh li a:hover, #navigationh li a:focus, #navigationh li a:active {
    background: chocolate;
    text-decoration: underline ;
    transition-duration: .3s;
  }

  #navigationhf{
      margin:0;
      padding:0;
      list-style: none;
     
  }
  #navigationhf li{
        float: left ;
        width: 150px ;
        border: 1px solid #600 ;
        margin-right: 1px ;
        color: #fff ;
        /* background: #c00 ; */
        
  }
  #navigationhf li a {
        display: block ;
        background: rgb(167, 72, 72) ;
        color: #fff ;
        font: 1em "Bangers";
        line-height: 1em ;
        padding: 4px 0 ;
        text-align: center ;
        text-decoration: none;
  }
  #navigationhf li a:hover, #navigationhf li a:focus, #navigationhf li a:active {
    background: #900 ;
    transition-duration: .3s;
  }

  #navigationfb{
    display: flex; 
    margin:0;
    padding:0;
    list-style: none;
    
  }
  #navigationfb li{
    /* display: flex; */
    /* flex-wrap : wrap; */
    flex:1 1 auto;
    background-color: rgb(7, 66, 126);
    text-align: center;
    position:relative;
    
  }
  #navigationfb li a {
    
    background-color:rgb(184, 184, 184);
    margin:5px;
    margin-left: 0px;
    padding: 0 10px;
    font-family: 'Bangers';
    list-style-type: none;
    text-decoration: none;
    color:white;
 
  }
  #navigationfb li a:hover, #navigationfb li a:focus, #navigationfb li a:active {
    background:rgb(77, 73, 73);
    transition-duration: .3s;
  }

  .flex-container {
    display: flex;
    flex-wrap : wrap;
    margin:0 0;
    padding:0 0;
    /* background-color: #f1f1f1; */
    /* background-color: rgb(217, 229, 241); */
    width:100%;
  }