/* Fichier des styles */
/*--------------------*/

/* exemple de mise en forme 
h1, em
{
    color: blue;
}


*/


/* taille du texte 
/*---------------------- 

font-size: "taille du texte"

pour "taille du texte" :
xx-small: minuscule ;
x-small: très petit ;
small: petit ;
medium: moyen ;
large: grand ;
x-large: très grand ;
xx-large: euh… gigantesque.


ou alors en utilisant "em"
exemple : font-size = 1.5em;

ou alors en utilisant " %"
exemple : font-size: 100%;

*/

/* police d'écriture
/*-------------------------

font-famiy: "nomdelapolice"
exemple :
font-family:arial

polices courantes :
---------------------------
Arial ;
Arial Black ;
Comic Sans MS ;
Courier New ;
Georgia ;
Impact ;
Times New Roman ;
Trebuchet MS ;
Verdana.
-----------------------------
*/
/*
polices exotiques :
--------------------------
definir  en-entête par exemple :

@font-face {
    font-family: 'MaSuperPolice';
    src: url('MaSuperPolice.eot');
}

la police doit etre dans le même dossier
ou sous-dossier (chemin à definir)

.ttf: TrueType Font. Fonctionne sur IE9 et tous les autres navigateurs.
.eot: Embedded OpenType. Fonctionne sur Internet Explorer uniquement, toutes versions. Ce format est propriétaire, produit par Microsoft.
.otf: OpenType Font. Ne fonctionne pas sur Internet Explorer.
.svg: SVG Font. Le seul format reconnu sur les iPhones et iPads pour le moment.
.woff: Web Open Font Format. Nouveau format conçu pour le Web, qui fonctionne sur IE9 et tous les autres navigateurs.

Exemple :
dans l'entete

@font-face { /* Définition d'une nouvelle police nommée CAC Champagne 
    font-family: 'inkfree';
    src: url('inkfree.ttf');
}

puis :
font-family: inkfree; 
-----------------------------------
police en italique 
-----------------------------------
em
{
	font-style:italic;
	
}
pour remettre en normal : font-style: normal;
------------------------------------
Police en gras
------------------------------------
font-weight: bold/normal;
exemple :
font-weight: bold;


------------------------------------
décorations du texte
------------------------------------
text-decoration:

underline: souligné.
line-through: barré.
overline: ligne au-dessus.
blink: clignotant. Ne fonctionne pas sur tous les navigateurs (Internet Explorer et Google Chrome, notamment).
none: normal (par défaut).

exemple : 
text-decoration:blink;

------------------------------------
alignements
------------------------------------
text-align:

left: le texte sera aligné à gauche (c'est le réglage par défaut).
center: le texte sera centré.
right: le texte sera aligné à droite.
justify: le texte sera « justifié ». Justifier le texte permet de faire en s



*/

@font-face {
	font-family: 'inkfree';
	src: url('inkfree.ttf');
} 
@font-face{
    font-family: 'indie';
    src : url('IndieFlower-Regular.ttf');
}


h1
{
	/* font-size: large; */
	
	font-size: 200%;
    /*font-family: 'inkfree', 'indie'; */
    font-family: indie;
	text-align: left;
	}
	
p
{
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
.dbll{
	 
	font-size: 125%;
	top: -0.4ex;
    margin: 0 2px;
}
.dblr{
	 
	font-size: 125%;
	top: +5ex;
    margin: 0 2px;
}


.dblarrow {
    font-size: 125%;
    top: -0.4ex;
    margin: 0 2px;
}
.dblarrow:after {
    content:"\2190";
    position: relative;
    left: -7.5ex;
    top: 0.6ex;
}

/* equation addition
-----------------------*/
.equation.stacked {
  display: inline-block;
}

.equation.stacked .number {
  display: block;
  margin-left: 1em; /* space for the operator */
  text-align: right;
}

.equation.stacked .operator {
  float: left;
}

.equation.stacked .equals {
  display: block;
  height: 0;
  border-bottom: solid 1px black;
  overflow: hidden;
}
.eq-c {
	text-align: center;
}

/* test------------------*/

.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}

