body{
    margin : 0;
    padding: 0;
}


@media screen and (max-width:1200px) {
    .doc {   
        flex-direction: column;  
        /* display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-content: stretch;    */
        
    }
}




/* ************************ */
/* FLEXBOX */
/* ************************ */
/* Container */
.doc{ 
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: stretch;   
    border:solid;
    border-color: slateblue;
}
/* box */
.gauche{
    flex : 1;
    border:solid;
    border-color: seagreen;
    margin:10px;
}
.milieu{
    flex : 1.2;
    border : solid;
    border-color: sandybrown;
    margin:10px;
}
.droite{
    flex :1;
    border : solid;
    border-color: saddlebrown;
    margin:10px;
}
.en-tete{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: stretch; 
    border: solid;
    border-color: salmon;
}

.en-tete-gauche{
    flex:1;
}
.en-tete-milieu{
    flex:1;
    text-align: center;
}
.en-tete-droit{
    flex:1;
   text-align: right;
}

/* ************************************ */
/* MISE EN PAGE */
/* ************************************ */

.attendus{
    font-family: 'Caveat', cursive;
    font-size: 0.95em;
    margin-left: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    column-count:2;
}    


.protocole{
    column-count: 2;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    column-count:2;
    font-size:9pt;

}

/* ************************************* */
/* Titres  */
/* ************************************* */

h1.titre{
    margin:0;
    text-align: center;
     font-size: 14px;
     border: 0.5px solid;
}
  h2{
    font-size: 1.2em;
    margin-bottom: 3px;
  }
  
  h3{
    font-size: 1em;
  }
  
  h4{
    font-size: .96em;
  }



@media print {

  
      header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
          display: none;
        }
  
    body{
        width: 100%;
        }  
    .doc {   
        flex-direction: column;
        
        }
  
    .milieu {
        flex:1.2; 
        /* margin-left:1.5cm;
        margin-right:1.5cm; */
        border:none;
        font-size: 10px;
        }
    .gauche, .droite{
        display:none;
    }
    a[href]{
        font-style: italic;
        text-decoration: none;
        color:black;
    } 
    a.lien{
        display:none;  
    }
          
}