
*{margin:0;}


/* *********************************************************************** */
/* NAVIGATION BAR */
/* *********************************************************************** */
#myHeader.header {
  /* padding: 10px 16px; */
  /* background: #555; */
  color: #f1f1f1;
  display:flex;
  top:0px;
  position: sticky;
  
  background-color:#7c6672 ;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: large; 

  text-align:right; /*Axe principal */
  align-items: center; /*Axe secondaire */
  box-shadow:0px 5px 5px gray;
  /* border:sienna solid; */
  padding-left: 1em;
  padding-right: 1em;
 
}
.logo{
 /* letter-spacing: .8em; */
    display:flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:black;
    /* font-size:larger; */
    text-align: start;
    text-shadow:2px 0 gray;
    /* border:green solid; */
    /* padding-left:1em; */
}
.logo-item{
  margin-right: 1em;
}
.navbar{
  /* border:blue solid; */
  display:flex;
  justify-content: space-between;
  flex-grow: 2;
}
.item{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 0 .5em 0 0.5em;
  cursor: pointer;
  border:#7c6672 solid .2em;
  border-radius: .3em;
}

.item:hover{
  border:grey solid .2em;
  border-radius: .3em;
  transition: .4s;

}
/* ************************************** */
/* SOUS MENU  */
/* ************************************** */
div.sousmenu{
  color: #f1f1f1;
  display:flex;
  
  /* background-color:#7c6672 ; */
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: large; 
  
  text-align:right; /*Axe principal */
  align-items: center; /*Axe secondaire */
  /* box-shadow:0px 5px 5px gray; */
  /* border:sienna solid; */
  padding-left: 1em;
  padding-right: 1em;
  
}
.sm-item{
  font-weight: normal;
  color:red;
  flex-grow: 1;
  padding: 0 .5em 0 0.5em;
  border:solid;
}
ul.sousmenu{
  list-style: none;
  margin:0;
  padding: 0;
  text-align: center;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */
/* *********************************************************************** */

.content {
  padding: 1em;
  /* border:tomato solid; */
}



/* .sticky + .content {
  padding-top: 102px; */

  @media screen and (min-width: 810px) {
    body{
      margin-left: auto;
      margin-right: auto;
      width:810px;
      /* texte justifié */
      /* ----------------- */
      text-align: justify;
      text-justify: inter-word;
      /* ----------------- */
    }
    .logo{
      display : flex;
      flex-direction: column;
    color:black;
  
  
    }
  }