.calendrier{
    display: inline-flex;
    flex-wrap: wrap;
    width:240px;
    margin:10px;
    cursor: pointer;

}
.sticky{
    border:solid;
    position: sticky;
    top:0;
    background-color: white;
}


.jour.janvier{
    border:solid 1px;
    width : 30px;
}

.jour.fevrier{
    border:solid 1px;
    width : 30px;
}

.text{
    display:none;
}
.text.is-visible{
    display:block;
}